<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<description>
		</description>
		<display-name>XdlUserRegister</display-name>
		<servlet-name>XdlUserRegister</servlet-name>
		<servlet-class>com.xdl.controller.XdlUserRegister</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>XdlUserLogin</display-name>
		<servlet-name>XdlUserLogin</servlet-name>
		<servlet-class>com.xdl.controller.XdlUserLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>XdlBookMain</display-name>
		<servlet-name>XdlBookMain</servlet-name>
		<servlet-class>com.xdl.controller.XdlBookMain</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>XdlCategoryListAJAX</display-name>
		<servlet-name>XdlCategoryListAJAX</servlet-name>
		<servlet-class>com.xdl.controller.XdlCategoryListAJAX</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>XdlBookList</display-name>
		<servlet-name>XdlBookList</servlet-name>
		<servlet-class>com.xdl.controller.XdlBookList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FileUpload</display-name>
		<servlet-name>FileUpload</servlet-name>
		<servlet-class>com.xdl.controller.FileUpload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>XdlProductListAJAX</display-name>
		<servlet-name>XdlProductListAJAX</servlet-name>
		<servlet-class>com.xdl.controller.XdlProductListAJAX</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XdlUserRegister</servlet-name>
		<url-pattern>/register.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XdlUserLogin</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XdlBookMain</servlet-name>
		<url-pattern>/bookMain.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XdlCategoryListAJAX</servlet-name>
		<url-pattern>/categoryListAJAX.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XdlBookList</servlet-name>
		<url-pattern>/bookList.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/upload.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XdlProductListAJAX</servlet-name>
		<url-pattern>/productListAJAX.do</url-pattern>
	</servlet-mapping>

</web-app>
